Hello,


  <%= @sender_name %> has invited you to the group <%= @group_name %>. It appears you have not yet created an account with us.  To do so, please click on the link below, and navigate to your dashboard.
  
  <a href="http://www.urvirl.com<%= @url %>">Sign UP, Go to Group</a>
  
  To leave the group, please select "Leave Group" from this groups page.
  
  Sincerely,
  The Urvirl Team