<h3>Hello,</h3>

<p>
  <%= @sender_name %> has invited you to the group <%= @group_name %>. It appears you have not yet created an account with us.  To do so, please click on the link below, and navigate to your dashboard.
</p>
<p>
  <a href="http://www.urvirl.com<%= @url %>">Sign Up, Go to Group</a>
</p>  
<p>
  To leave the group, please select "Leave Group" from this groups page.
</p>
<p>
  Sincerely,
  The Urvirl Team
</p>
