<h3>Hello,</h3>

<p>
 <%= @sender_name %> has invited you to the group <%= @group_name %>.  To go to the group now, click on the link below, or navigate to your dashboard.
</p>
<p>
  <a href="http://www.urvirl.com<%= @url %>">Go to Group</a>
</p>  
<p>
  To leave the group, please select "Leave Group" from this groups page.
</p>
<p>
  Sincerely,
  The Urvirl Team
</p>
